<script setup>
import Task from "@/components/Task.vue";

import {useTasksStore} from "@/stores/tasks.store";
import {storeToRefs} from "pinia";
const tasksStore = useTasksStore();

const { tasks, urgentTasks } = storeToRefs(tasksStore);
import { useAuthStore } from '@/stores/auth.store';
import { Form, Field } from 'vee-validate';

const authStore = useAuthStore();

tasksStore.getAll();

function onSubmit(values, { setErrors }) {
	const tasksStore = useTasksStore();
	const { title, description, datetime } = values;

	let is_urgent = document.querySelector('input[name="is_urgent"]').checked;

	return tasksStore.add({title: title, description: description, expires_at: datetime, is_urgent: is_urgent})
			.catch(error => setErrors({ apiError: error }));
}
</script>

<template>
	<div
			class="flex flex-col w-screen h-screen overflow-auto text-gray-700 bg-gradient-to-tr from-blue-200 via-blue-100 to-blue-400">
		<div class="px-10 mt-6">
			<h1 class="text-2xl font-bold">Список задач Qwintry</h1>
			<nav v-show="authStore.token" class="navbar navbar-expand navbar-dark bg-dark">
				<div class="navbar-nav">
					<a @click="authStore.logout()" class="nav-item nav-link">Выйти</a>
				</div>
			</nav>
		</div>
		<div class="flex flex-grow px-10 mt-4 space-x-6 overflow-auto">
			<div class="flex flex-col flex-shrink-0 w-96">
				<div class="flex items-center flex-shrink-0 h-10 px-2">
					<span class="block text-sm font-semibold">Обычные задачи</span>
					<span
							class="flex items-center justify-center w-5 h-5 ml-2 text-sm font-semibold text-indigo-500 bg-white rounded bg-opacity-30">{{ tasks.length }}</span>
				</div>
				<div class="flex flex-col pb-2 overflow-auto" v-if="tasks.length">
					<Task v-for="task in tasks" :title="task.title" :description="task.description" :expires_at="task.expires_at"  :is_urgent="task.is_urgent" :id="task.id"></Task>
				</div>
			</div>
			<div class="flex flex-col flex-shrink-0 w-96">
				<div class="flex items-center flex-shrink-0 h-10 px-2">
					<span class="block text-sm font-semibold">Срочные задачи</span>
					<span
							class="flex items-center justify-center w-5 h-5 ml-2 text-sm font-semibold text-indigo-500 bg-white rounded bg-opacity-30">{{ urgentTasks.length }}</span>
				</div>
				<div class="flex flex-col pb-2 overflow-auto" v-if="urgentTasks.length">
					<Task v-for="task in urgentTasks" :title="task.title" :description="task.description" :expires_at="task.expires_at" :is_urgent="task.is_urgent" :id="task.id"></Task>
				</div>
			</div>
			<div class="flex flex-col flex-shrink-0 w-96 h-96 mt-5 px-6 py-12 pt-8 bg-white border-0 shadow-lg sm:rounded-3xl">
				<Form id="formNewItem" class="flex flex-wrap w-full" @submit="onSubmit">
					<div class="relative z-0 w-full mb-5">
						<Field
								type="text"
								name="title"
								placeholder=" "
								class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
						/>
						<label for="title" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Введите название задачи</label>
					</div>
					<div class="relative z-0 w-full mb-5">
						<Field
								type="text"
								name="description"
								placeholder=" "
								class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
						/>
						<label for="description" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Введите описание задачи</label>
					</div>
					<div class="relative z-0 w-full mb-5">
						<Field
								type="datetime-local"
								name="datetime"
								placeholder=" "
								class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
						/>
						<label for="datetime" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Введите срок задачи</label>
					</div>
					<div class="relative z-0 w-full mb-5 flex items-center">
						<input
								type="checkbox"
								name="is_urgent"
								:checked="false"
								class="focus:outline-none focus:ring-0 focus:border-black border-gray-200"
						/>
						<label for="is_urgent" class="pl-3" style="transform: none !important;">Задача срочная?</label>
					</div>


					<button
							id="button"
							type="submit"
							class="w-full px-6 py-3 mt-3 text-lg text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-gradient-to-tr from-blue-800 via-blue-600 to-blue-400 hover:bg-blue-600 hover:shadow-lg focus:outline-none"
					>
						<!--					<div role="status" v-show="isSubmitting" >-->
						<!--						<svg class="inline mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-pink-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">-->
						<!--							<path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>-->
						<!--							<path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>-->
						<!--						</svg>-->
						<!--						<span class="sr-only">Загрузка...</span>-->
						<!--					</div>-->
						<!--					<div v-show="!isSubmitting" >-->
						Добавить
						<!--					</div>-->
					</button>
				</Form>
			</div>

			<div class="flex-shrink-0 w-6"></div>
		</div>





	</div>
</template>
