<template>
	<div class="min-h-screen bg-gray-100 p-0 sm:p-12">
		<div class="mx-auto max-w-md px-6 py-12 pt-8 bg-white border-0 shadow-lg sm:rounded-3xl">
			<h1 class="text-2xl font-bold mb-8">Вход</h1>
			<Form id="form" @submit="onSubmit" :validation-schema="schema" v-slot="{ errors, isSubmitting }">
				<div class="relative z-0 w-full mb-5">
					<Field
							type="email"
							name="email"
							placeholder=" "
							class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
							:class="{ 'is-invalid': errors.email }"
					/>
					<label for="email" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Введите email</label>
				</div>

				<div class="relative z-0 w-full mb-5">
					<Field
							type="password"
							name="password"
							placeholder=" "
							class="pt-3 pb-2 block w-full px-0 mt-0 bg-transparent border-0 border-b-2 appearance-none focus:outline-none focus:ring-0 focus:border-black border-gray-200"
							:class="{ 'is-invalid': errors.password }"
					/>
					<label for="password" class="absolute duration-300 top-3 -z-1 origin-0 text-gray-500">Введите пароль</label>
				</div>


				<button
						id="button"
						type="submit"
						class="w-full px-6 py-3 mt-3 text-lg text-white transition-all duration-150 ease-linear rounded-lg shadow outline-none bg-gradient-to-tr from-blue-800 via-blue-600 to-blue-400 hover:bg-blue-600 hover:shadow-lg focus:outline-none"
						:disabled="isSubmitting"
				>
					<div role="status" v-show="isSubmitting" >
						<svg class="inline mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-pink-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
							<path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
						</svg>
						<span class="sr-only">Загрузка...</span>
					</div>
					<div v-show="!isSubmitting" >
						Войти
					</div>

					<div v-if="errors.apiError">{{errors.apiError}}</div>

				</button>
			</Form>
		</div>
	</div>
</template>

<script setup>
import { Form, Field } from 'vee-validate';
import * as Yup from 'yup';

import { useAuthStore } from '@/stores/auth.store';

const schema = Yup.object().shape({
	email: Yup.string().required('Email обязательный'),
	password: Yup.string().required('Пароль обязательный')
});

function onSubmit(values, { setErrors }) {
	const authStore = useAuthStore();
	const { email, password } = values;

	return authStore.login(email, password)
			.catch(error => setErrors({ apiError: error }));
}
</script>

<style>
.-z-1 {
	z-index: -1;
}

.origin-0 {
	transform-origin: 0;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label,
select:focus ~ label,
select:not([value='']):valid ~ label {
	--tw-translate-x: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
	--tw-scale-x: 0.75;
	--tw-scale-y: 0.75;
	--tw-translate-y: -1.5rem;
}

input:focus ~ label,
select:focus ~ label {
	--tw-text-opacity: 1;
	color: rgba(0, 0, 0, var(--tw-text-opacity));
	left: 0;
}

.is-invalid {
	border-bottom: 2px solid rgba(220, 51, 90, 0.9) !important;
}
</style>


<script>


</script>