<script setup>
import {useTasksStore} from "@/stores/tasks.store";

defineProps({
	id:       {
		required: true,
	},
	title:       {
		type:     String,
		required: true,
	},
	description: {
		type:     String,
		required: false,
	},
	expires_at:  {
		type:     String,
		required: false,
	},
	is_urgent: {
		required: false
	}
});

function deleteTask(id) {
	const tasksStore = useTasksStore();

	return tasksStore.delete(id);
}

function editStatus(id, is_urgent) {
	const tasksStore = useTasksStore();

	return tasksStore.editStatus(id, is_urgent);
}
</script>

<template>
	<div
			class="relative flex flex-col items-start p-4 pr-8 mt-3 bg-white rounded-lg bg-opacity-90 group hover:bg-opacity-100"
			>
		<h2 class="flex items-center h-6 px-3 pl-0 text-l font-bold text-blue-500">{{
				title
			}}</h2>
		<h4 class="mt-3 text-sm font-medium">{{ description ?? 'Описание отсутствует' }}</h4>
		<div class="flex items-center w-full mt-3 text-xs font-medium text-gray-400">
			<div class="flex items-center">
				<svg class="w-4 h-4 text-gray-300 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
				     fill="currentColor">
					<path fill-rule="evenodd"
					      d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
					      clip-rule="evenodd"/>
				</svg>
				<span class="ml-1 leading-none">{{ expires_at ?? 'Не определен' }}</span>
			</div>
		</div>
		<div class="flex mt-3 opacity-0 ease-in duration-300 group-hover:opacity-100">
			<span class="cursor-pointer bg-red-100 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900" @click="deleteTask(id)">Удалить</span>
			<span class="cursor-pointer bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900" @click="editStatus(id, !is_urgent)">{{ is_urgent && (is_urgent === 1 || is_urgent === true)? 'Убрать из срочных' : 'Перевести в срочные' }}</span>
		</div>
	</div>
</template>
